<html>
  <head>
    <title>Chat Application - <%= title %></title>
    <link rel="stylesheet" href="../style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  </head>
  <body>
      <div id="user">
	<div style="float:right">Welcome <%= username %>! <a href="/users/logout">Logout</a></div>
	<p><%= title %></p>	
	
      </div>
  </body>
</html>

